section.portfolio-item.container
 a(href="portfolio-category.html").category-portfolio-item Landing page
 span.portfolio-item-name Business
 .portfolio-item-wrap
    .portfolio-item__img-wrap
     img(src="../../images/business-full900.jpg").portfolio-item__img
    .portfolio-item-descr
     h3.portfolio-item-descr__h3 Техническое задание
     p.portfolio-item-descr__p Сверстать одностраничный сайт (landing page) по PSD макету.
     h3.portfolio-item-descr__h3 Срок выполнения
     p.portfolio-item-descr__p 3 дня.
     h3.portfolio-item-descr__h3 Бюджет
     p.portfolio-item-descr__p Учебный макет.
     .portfolio-item-descr__button-wrap
      a(href="#").header-main__button Посмотреть сайт
      a(href="/#contacts").header-main__button Заказать такой же
     .portfolio-item-case
     h3.portfolio-item-descr__h3 Что было сделано