section.portfolio-item.container
 a(href="#").category-portfolio-item Landing page
 span.portfolio-item-name Business
 .portfolio-item-wrap
  img(src="../../images/business900.jpg").portfolio-item__img
  portfolio-item-descr
   h3.portfolio-item-descr__h3 Техническое задание
   p.portfolio-item-descr__p Сверстать одностраничный сайт (landing page) по PSD макету.
   h3.portfolio-item-descr__h3 Срок
   p.portfolio-item-descr__p 3 дня.
   h3.portfolio-item-descr__h3 Бюджет
   p.portfolio-item-descr__p Учебный макет.
   a(href="#").portfolio-item-descr__a Посмотреть сделанный сайт
   br
   a(href="#").portfolio-item-descr__a Посмотреть сайт на хостинге заказчика (может отличаться от сделанного, так как заказчик возможно вносил какие либо правки)
 .portfolio-item-case
  h2.portfolio-item-case__h2 Как все происходило