section.inner-page-content.container
  span.portfolio-item-name Landing page
  .portfolio-content-wrap.portfolio-category-wrap
   .portfolio-content__item
      img.portfolio-content__item-img(src="../../images/works-foto.jpg")
      a(href="portfolio-item.html").portfolio-content__item-hover
       span.portfolio-content__item-hover-span Сайт строительной компании "Рога и Копыта"
   .portfolio-content__item
      img.portfolio-content__item-img(src="../../images/works-foto.jpg")
      a(href="#").portfolio-content__item-hover
       span.portfolio-content__item-hover-span "Рога и Копыта" Подробнее...
   .portfolio-content__item
      img.portfolio-content__item-img(src="../../images/works-foto.jpg")
      a(href="#").portfolio-content__item-hover
       span.portfolio-content__item-hover-span Подробнее...
   .portfolio-content__item
      img.portfolio-content__item-img(src="../../images/works-foto.jpg")
      a(href="#").portfolio-content__item-hover
       span.portfolio-content__item-hover-span "Рога и Копыта" Подробнее...