include include/index/head.pug
include include/index/header-nav.pug
include include/portfolio/portfolio-header.pug
include include/portfolio/portfolio-item-content.pug
   //include include/works.pug
   //include include/comments.pug
   //include include/contacts.pug
include include/index/footer.pug
   //include include/subscribe.pug
   //include include/footer.pug 
   
script(src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
script(src="js/scrypt.js")