.amenities {
    margin-top: 7rem;
    
}
.amenities-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.amenities-row__fa {
    
    font-size: 3rem;
    line-height: 7rem !important; 
    background-color: #1275b9;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    color: #fff;
    
}
.amenities-row__title {
    font-size: 1.8rem;
    font-family: 'ProximaNovaSem';
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    flex-basis: 33%;
    padding: 2rem;
}
.amenities-row__description {
    color:  #555;
    font-size: 1.4rem;
    font-family: 'ProximaNovaLt';
    flex-basis: 33%;
    padding: 0 2rem;
}