.footer {
    margin-top: 5rem;
    background-color: #1e1e1e;
    height: 5rem;
    color:  #a5a5a5;
    font-size: 1.5rem;
    text-align: center;
    line-height: 5rem;
    
}
.top-button {
    
   position:fixed;
   bottom:4rem; /* отступ кнопки от нижнего края страницы*/
   right:2rem;
   cursor:pointer;
   display:none;     
   color:#333;
   font-size:5rem;
   @media screen and (max-width: 580px) {
    right:1rem;
    font-size:4rem;
     }   
} 