.header {
    
}
.header-contact-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.header-contact {
    
}
.header-contact__item {
    font-size: 2.5rem;
    padding: 1rem;
    color: #393939;
        &:hover {
        transition: 0.3s;
        color: #1275b9;
        }
}
.header-nav {
    
}
.header-nav__item {
    display: inline-block;
}
.header-nav__item-link {
    color:  #393939;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1rem;
    &:hover {
        transition: 0.3s;
        color: #1275b9;
        }  
}
.header-main {
    background-color: #a49a94;
    background-image: url(../../images/header-min.jpg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
        
    
}
.header-main__foto {
    width: 15rem;
    height: 15rem;
    margin: 2rem 0;
    
}
.header-main__h2 {
    font-size: 3rem;
    color:  #fff;
    margin: 0;
}
.header-main__h1 {
    font-size: 4rem;
    color:  #fff;
    margin: 1rem 0 2rem 0;
}
.header-main__button {
    font-size: 2rem;
    width: 23rem;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: #1275b9;
    color:  #f7f7f7;
    text-align: center;
    line-height: 5rem;
  &:hover {
        transition: 0.3s;
        background-color: darken(#1275b9, 10%);
        }   
}
