.portfolio-wrap {
    display: flex;
    justify-content: space-between;
    
    @media screen and (max-width: 640px) {
        flex-direction: column;
         } 
}
.portfolio-nav {
    flex-basis: 25%;
    padding-right: 1rem;
    border-right: 3px solid #1275b9;
    @media screen and (max-width: 640px) {
        border-right: none;
        text-align: center;
         } 
}
.portfolio-nav__item {
   margin: 2rem 0;
   @media screen and (max-width: 640px) {
    margin-top: 0;
     } 
   
}
.portfolio-nav__item-link {
    font-size: 2rem;
    color: #393939;
    
    
    &:hover {
      transition: 0.3s;
      color: #1275b9; 
     }
    &::before {
        content: "\00BB \00A0";
        font-size: 2.5rem;
    }
}
.portfolio-content {
    flex-basis: 75%;
    padding-left: 1rem;
}

.portfolio-content-wrap {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.portfolio-content__item {
   position: relative;
   &:hover .portfolio-content__item-hover {
       display: block;       
     } 
}

.portfolio-content__item-img {
   transition: 0.2s;
   max-width: 25rem;
   max-height: 25rem;
   margin: 1rem;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}
.portfolio-content__item-hover {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 21rem;
    height: 21rem;
    background-color: #000;
    color: #fff;
    opacity: 0.7;
    box-sizing: border-box;
    font-size: 2rem;
 
}
.portfolio-content__item-hover-span {
    position: absolute;
    width: 21rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}