.works {
   margin-top: 10rem; 
}
.works__h2 {
   font-size: 3rem;
   text-align: center;
}
.works-wrap {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.works__item {
   position: relative;
   &:hover .works__item-hover {
       display: block;       
     } 
}

.works__item-img {
   transition: 0.2s;
   max-width: 32rem;
   max-height: 32rem;
   margin: 2rem;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}
.works__item-hover {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30rem;
    height: 30rem;
    background-color: #000;
    color: #fff;
    opacity: 0.7;
    box-sizing: border-box;
    font-size: 2rem;
    
}
.works__item-hover-span {
    position: absolute;
    width: 30rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}