footer.footer &copy; superihti
#toTop.top-button <i class="fas fa-arrow-circle-up"></i>
script(src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
script(src="js/scrypt.js")
</body>
</html>