header.header
 .container.header-contact-nav
  .header-contact
   a.header-contact__item(href="https://vk.com/id483212510" target="_blank" title="Вконтакте")
    i.fab.fa-vk
   a.header-contact__item(href="https://t.me/superihti" target="_blank" title="Telegram")
    i.fab.fa-telegram-plane
   a.header-contact__item(href="skype:superihti?chat" target="_blank" title="Skype")
    i.fab.fa-skype
   a.header-contact__item(href="mailto:superihti@yandex.ru" target="_blank" title="Email")
    i.fas.fa-envelope
  nav.header-nav
   ul
    li.header-nav__item
     a.header-nav__item-link(href="/") Главная
    li.header-nav__item
     a.header-nav__item-link(href="service.html") Услуги
    li.header-nav__item
     a.header-nav__item-link(href="portfolio.html") Портфолио
    li.header-nav__item
     a.header-nav__item-link(href="/#comments") Отзывы
    li.header-nav__item
     a.header-nav__item-link(href="/#contacts") Контакты 