.header-main
  img.header-main__foto(src="../../images/foto-header.png" alt="Роман Малыхин" title="Роман Малыхин")
  h2.header-main__h2 Роман Малыхин
  h1.header-main__h1 Веб-разработчик
  a.header-main__button(href="portfolio.html") Смотреть портфолио