section.service.container
 .service-row
   i.fas.fa-mobile-alt.service-row__fa
   i.fab.fa-wordpress-simple.service-row__fa
   i.fas.fa-rocket.service-row__fa
 .service-row 
   .service-row__title Адаптивная верстка сайта по PSD макету
   .service-row__title Создание шаблонов для WordPress
   .service-row__title Запуск и сопровождение сайта
 .service-row   
   .service-row__description Ваш сайт будет одинаково хорошо смотреться на всех устройствах, от телевизора до смартфона. 
   .service-row__description Натяжка HTML верстки на CMS WordPress.
   .service-row__description Выгрузка на хостинг, подключение к сервисам аналитики, наполнение контентом.