section.amenities.container
 .amenities-row
   i.fas.fa-mobile-alt.amenities-row__fa
   i.fab.fa-wordpress-simple.amenities-row__fa
   i.fas.fa-rocket.amenities-row__fa
 .amenities-row 
   .amenities-row__title Адаптивная верстка сайта по PSD макету
   .amenities-row__title Создание шаблонов для WordPress
   .amenities-row__title Запуск и сопровождение сайта
 .amenities-row   
   .amenities-row__description Ваш сайт будет одинаково хорошо смотреться на всех устройствах, от телевизора до смартфона. 
   .amenities-row__description Натяжка HTML верстки на CMS WordPress.
   .amenities-row__description Выгрузка на хостинг, подключение к сервисам аналитики, наполнение контентом.