section.comments.container
 h2.comments__h2 Отзывы
 .comments-slider
  .comments-slide
   img.comments-slide__img(src="../../images/coment1.jpg")
   a.comments-slide__descr(href="http://www.maultalk.com/index.html?showtopic=210276&view=findpost&p=2107980" target="_blank") Посмотреть отзыв на maultalk.com
  .comments-slide
   img.comments-slide__img(src="../../images/coment1.jpg")
  .comments-slide
   img.comments-slide__img(src="../../images/coment1.jpg") 
   a.comments-slide__descr(href="http://www.maultalk.com/index.html?showtopic=210276&view=findpost&p=2107980" target="_blank") Посмотреть отзыв на maultalk.com