section.conacts.container
 h2.conacts__h2 Контакты
 .conacts-wrap
  .conacts-form
   .conacts-form__descr Заполните форму, и я свяжусь с Вами в ближайшее время
   form.conacts-form__form(action="#" name="user-form")
    input(type="text" id="user-name" name="user-name" placeholder="Ваше имя")
    input(class="input-block-level" type="text" id="posEmail" placeholder="Ваша почта")
  .conacts-social
   ul
    li
     a.contacts-social__item(href="https://vk.com" target="_blank" title="Вконтакте") 
      i.fab.fa-vk &nbsp;&nbsp;vk.com/feed
    li
     a.contacts-social__item(href="https://t.me/superihti" target="_blank" title="Telegram")
      i.fab.fa-telegram-plane &nbsp;&nbsp;t.me/superihti
    li
     a.contacts-social__item(href="https://vk.com" target="_blank" title="WhatsApp")
      i.fab.fa-whatsapp
    li
     a.contacts-social__item(href="https://vk.com" target="_blank" title="Skype")
      i.fab.fa-skype
    li
     a.contacts-social__item(href="mailto:superihti@yandex.ru" target="_blank" title="Email")
      i.fas.fa-envelope