section.conacts(id="contacts").container
 h2.conacts__h2 Контакты
 .conacts-wrap
  .conacts-form
   .conacts-form__descr Заполните форму, и я свяжусь с Вами в ближайшее время
   form.conacts-form__form(action="#" name="form" method="post")
    input.conacts-form__name(type="text" name="uname" placeholder="Ваше имя")
    input.conacts-form__email(type="email" name="email" placeholder="Ваша почта")
    textarea.conacts-form__message(name="message" placeholder="Ваше сообщение")
    button.conacts-form__button(type="submit") Отправить
  .conacts-social
   ul.conacts-social__ul
    li
     a.contacts-social__item(href="https://vk.com/id483212510" target="_blank" title="Вконтакте") <i class="fab fa-vk"></i>&nbsp;&nbsp;vk.com
    li
     a.contacts-social__item(href="https://t.me/superihti" target="_blank" title="Telegram") <i class="fab fa-telegram-plane"></i>&nbsp;&nbsp;t.me/superihti
     
    li
     a.contacts-social__item(href="skype:superihti?chat" target="_blank" title="Skype") <i class="fab fa-skype"></i>&nbsp;&nbsp;superihti
      
    li
     a.contacts-social__item(href="mailto:superihti@yandex.ru" target="_blank" title="Email") <i class="fas fa-envelope"></i>&nbsp;&nbsp;superihti@yandex.ru