header.header
 .header-contact-nav.container
  .header-contact
   a.header-contact__item(href="https://vk.com" target="_blank" title="Вконтакте")
    i.fab.fa-vk
   a.header-contact__item(href="https://vk.com" target="_blank" title="Telegram")
    i.fab.fa-telegram-plane
   a.header-contact__item(href="https://vk.com" target="_blank" title="WhatsApp")
    i.fab.fa-whatsapp
   a.header-contact__item(href="https://vk.com" target="_blank" title="Skype")
    i.fab.fa-skype
   a.header-contact__item(href="mailto:superihti@yandex.ru" target="_blank" title="Email")
    i.fas.fa-envelope
  nav.header-nav
   ul
    li.header-nav__item
     a.header-nav__item-link(href="#") Услуги
    li.header-nav__item
     a.header-nav__item-link(href="#") Портфолио
    li.header-nav__item
     a.header-nav__item-link(href="#") Отзывы
    li.header-nav__item
     a.header-nav__item-link(href="#") Контакты 
     
 .header-main
  img.header-main__foto
  h2.header-main__h2 Роман Малыхин
  h3.header-main__h3 Веб-разработчик
  a.header-main__button(href="#") Смотреть портфолио