section.inner-page-content.container
 .portfolio-wrap
   nav.portfolio-nav
    ul
     li.portfolio-nav__item
      a(href="#").portfolio-nav__item-link Сайты визитки
     li.portfolio-nav__item
      a(href="#").portfolio-nav__item-link Landing page
     li.portfolio-nav__item
      a(href="#").portfolio-nav__item-link Landing page с админкой
     li.portfolio-nav__item
      a(href="#").portfolio-nav__item-link Многостраничные сайты
     li.portfolio-nav__item
      a(href="#").portfolio-nav__item-link Сайты на Wordpress
   .portfolio-content
    .portfolio-content-wrap
     .portfolio-content__item
        img.portfolio-content__item-img(src="../../images/works-foto.jpg")
        a(href="#").portfolio-content__item-hover Сайт строительной компании "Рога и Копыта"
     .portfolio-content__item
        img.portfolio-content__item-img(src="../../images/works-foto.jpg")
        a(href="#").portfolio-content__item-hover Подробнее...
     .portfolio-content__item
        img.portfolio-content__item-img(src="../../images/works-foto.jpg")
        a(href="#").portfolio-content__item-hover Подробнее...
     .portfolio-content__item
        img.portfolio-content__item-img(src="../../images/works-foto.jpg")
        a(href="#").portfolio-content__item-hover Подробнее...   