section.inner-page-content.container
 h2.inner-page-content__h2 Адаптивная верстка сайта по PSD макету
 p.inner-page-content__p Вы предоставляете макет сайта в PSD формате, я делаю из него HTML страницу готовую к выгрузке на хостинг.   
 
 h2.inner-page-content__h2 Создание шаблонов для WordPress
 p.inner-page-content__p Натяжка HTML верстки на CMS WordPress.
 
 h2.inner-page-content__h2 Запуск и сопровождение сайта
 p.inner-page-content__p Помощь в покупке домена и хостинга. Размещение сайта в сети. Подключение и настройка сервисов аналитики. Начальное наполнение сайта контентом.