section.works.container
 h2.works__h2 Мои работы
 .works-wrap
  .works__item
   img.works__item-img(src="../../images/works-foto.jpg")
   a(href="#").works__item-hover Сайт строительной компании "Рога и Копыта"
  .works__item
   img.works__item-img(src="../../images/works-foto.jpg")
   a(href="#").works__item-hover Подробнее...
  .works__item
   img.works__item-img(src="../../images/works-foto.jpg")
   a(href="#").works__item-hover Подробнее...